.base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  height: 100%;

  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b3061+0,192b55+100 */
  background: #1b3061; /* Old browsers */
  background: -moz-linear-gradient(top,  #1b3061 0%, #192b55 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b3061), color-stop(100%,#192b55)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1b3061 0%,#192b55 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1b3061 0%,#192b55 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1b3061 0%,#192b55 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1b3061 0%,#192b55 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3061', endColorstr='#192b55',GradientType=0 ); /* IE6-9 */
}

.border {
  margin: 36px auto 0;
  max-width: 800px;
  min-width: 640px;
  border-radius: 2px;
  border: 3px solid #35769A;
  box-shadow: 0px 0px 10px 1px rgba(53,118,154,0.5), inset 0px 0px 10px 1px rgba(53,118,154,0.5);
  padding: 5px;
}

.sithDisplayArea {
  display: flex
}
