
.base {
  flex: 1 20%;
  display: flex;
  flex-direction: column;
}

.base button {
  flex: 1;
  border: 5px solid #69F0D2;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 1px #69F0D2, inset 0px 0px 10px 1px #69F0D2;
  background: #39697A;

  & disabled {
    opacity: 0.5;
  }
}

.buttonUp::after {
  content: '\21D1';
  display: block;
  color: #69F0D2;
  font-size: 30px;
  text-shadow: 0px 0px 10px #69F0D2;
}

.buttonDown {
  margin-top: 7px;

  &::after {
    content: '\21D3';
    display: block;
    color: #69F0D2;
    font-size: 30px;
    text-shadow: 0px 0px 10px #69F0D2;
  }
}
