<section>
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/videos">Videos</a></li>
                <li class=""><a href="/forums">Forums</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Achievements</h4>
                <ul data-query="each(achievements.view)" class="block-grid-xs-6">
                    <li class="block-grid-item">
                        <div class="media-left">
                            <img src="{{image}}"/>
                        </div>
                        <div class="media-body">
                            <div class="media-title">{{title}}</div>
                            <div class="media-description">{{description}}</div>
                        </div>
                    </li>
                </ul>
                <div class="pagination-area">
                    <ul data-query="each(pages)" class="pagination">
                        <li data-role="header" data-query="setClass('inactive', page() == 1)">
                            <a data-query="click(pageMinus)" href="#"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li>
                            <a data-query="setClass('active', $parent.page() == $this).click($parent.setPage, $this)" href="#">
                                {{$this}}
                            </a>
                        </li>
                        <li data-role="footer" data-query="setClass('inactive', page() == pages().length)">
                            <a data-query="click(pagePlus)" href="#"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>